/* Routes */
.mapplic-element svg [id^=route] {
	display: none;
}

.mapplic-element svg [id^=route] > * {
	opacity: 0.3;
}

.loc-to,
.loc-from {
	padding: 4px 6px;
	border: 1px solid #ddd;
	border-radius: 2px;
	margin-right: 10px;
}

.mapplic-routes-panel {
	background-color: rgba(255, 255, 255, 0.9);
	color: #222;
	position: absolute;
	left: 20%;
	width: 60%;
	bottom: 0;
	margin: 10px;
	padding: 10px;
}

.mapplic-routes-panel small {
	display: block;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.mapplic-routes-close {
	background-image: url(../images/cross.svg);
	background-size: 6px 6px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	cursor: pointer;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 0;
	right: 0;
}

.mapplic-routes-select {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	float: left;
	padding: 2px 4px;
	width: 38%;
	height: 40px;
	margin-right: 6%;
}

.mapplic-routes-select.active {
	border: 1px solid #6CB5F4;
	background-color: #fff;
}

.mapplic-routes-loc {
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.mapplic-routes-swap {
	background-image: url(../images/swap.svg);
	background-size: 16px 14px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	cursor: pointer;
	opacity: 0.6;
	width: 16px;
	height: 14px;
	margin-top: -7px;
	margin-left: -8px;
	position: absolute;
	top: 50%;
	left: 41.5%;
	transition: transform 0.2s;
}

.mapplic-routes-swap.rotate {
	transform: rotate(180deg);
}

.mapplic-routes-swap:hover {
	opacity: 1;
}

.mapplic-routes-submit {
	background-color: #6CB5F4;
	border: none;
	color: #fff;
	display: block;
	font-weight: bold;
	font-size: 14px;
	width: 16%;
	height: 40px;
	padding: 0 !important;
	text-align: center;
	line-height: 40px;
	float: right;
	margin-left: -4%;
}

/* Button */
.mapplic-ui-button {
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	border-radius: 2px;
	margin: 10px;
	width: 28px;
	height: 28px;
	position: absolute;
}

.mapplic-routes-button {
	background-image: url(../images/direction-icon.svg);
	background-size: 16px 16px;
	bottom: 0;
	left: 40px;
	display: none;
}

/* Icons */
.mapplic-routes .mapplic-list-location {
	position: relative;
	overflow: hidden;
}

.mapplic-routes-icon {
	background: url(../images/direction-arrow.svg) no-repeat center;
	cursor: pointer;
	width: 20px;
	height: 20px;
	opacity: 0.6;
}

.mapplic-routes-icon:hover {
	opacity: 1;
}

.mapplic-routes .mapplic-list-location .mapplic-routes-icon {
	position: absolute;
	top: 12px;
	right: -30px;
	transition: right 0.2s, opacity 0.2s;
}

.mapplic-routes .mapplic-list-location:hover .mapplic-routes-icon {
	right: 10px;
}

/* Mobile */
@media all and (max-width: 667px) {
	.mapplic-routes-panel {
		left: 14%;
		width: 72%;
	}
}

/* Map */
.mapplic-routes .mapplic-clickable {
	/* opacity: 1 !important; */
}

.mapplic-routes .mapplic-active {
	fill: #f8f8f8;
}

.mapplic-routes g[id^=landmarks-large] .mapplic-active {
	fill: #555;
}	